.bg-custom {
    background-color: #14131248;
    /* Cambia el color de fondo a tu elección */
    color: #fff;
    /* Cambia el color del texto a tu elección */
}


.navbar-logo {
    width: 100px;
    /* Ancho deseado en píxeles o unidades relativas */
    height: auto;
    /* La altura se ajustará automáticamente para mantener la proporción original */
    padding: 10px;
}

.container {
    padding-top: 50px;
    margin-top: 50px;
    /* Ajusta el valor según tu preferencia */
}

/* Agrega padding a los elementos de la clase 'card' dentro del contenedor */
.container .card {
    padding: 10px;
    /* Ajusta el valor según tu preferencia */
}